*{
    font-family: 'Source Code Pro', monospace, "sans-serif", "Helvetica", "Arial" ;
    color: whitesmoke;
}

html, body {
	padding: 0;
	margin: 0;
    height: 100%;
    background-color:whitesmoke;
}

#playingBarContainer {
	width: 100%;
    background-color:  #00A8BA;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#playingBar {
	display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#playingLeft,
#playingRight{
    position: relative;
    margin-top: 16px;
}

#playingRight{
    width: 30%;
    min-width: 180px;
}

#playingCenter{
    width: 40%;
    max-width: 700px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#playingBar .content{
    width: 100%;
    height: 57px;
}

.playerControls .buttons{
    margin:0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border:none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.pause{
    display: none;
}

.controlButton.play img,
.controlButton.pause img{
    width:32px;
    height:32px;
}

.controlButton:hover{
    cursor:pointer;
}

.progressTime{
    color:whitesmoke;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}
.playbackBar{
    display: flex;
}

.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}
.progressBarBackground{
    background-color: #a0a0a0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress{
    background-color: whitesmoke;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progress{
    margin-top: 3px;
}

#playingLeft .react{
    height:100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size:cover;
}

.podcastInfo{
    display: table;
}

#playingLeft .podcastInfo .podcastName p{
    margin: 6px 0;
    display: inline-block;
    width:100%;
}

/*#playingLeft .podcastInfo .mentorname p {
font-size: 12px;
color: #a0a0a0;
}*/

.volumeBar{
    position: absolute;
    right: 0;
}

.volumeBar .progressBar{
    width: 125px;
}